<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un média</title>
</head>
<body>
    <h1>Ajouter un média</h1>

    <form method="post">
        {% csrf_token %}
        <label for="type_media">Type de média:</label>
        <select name="type_media" id="type_media">
            <option value="livre">Livre</option>
            <option value="dvd">DVD</option>
            <option value="cd">CD</option>
            <option value="jeu_de_plateau">Jeu de Plateau</option>
        </select>
        <div>
            {{ form.as_p }}
        </div>
        <button type="submit">Ajouter</button>
    </form>

    <a href="{% url 'bibliothecaire_menu' %}">Retour au menu</a>
</body>
</html>