<!DOCTYPE html>
<html>
<head>
    <title>Liste des Membres</title>
    <style>
        /* Ajoute un espace entre chaque membre */
        li {
            margin-bottom: 20px; /* Espace entre chaque membre */
        }
        .action-links {
            padding-right: 10px; /* Ajoute un espacement sur la droite */
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Liste des Membres</h1>
    <ul>
        {% for membre in membres %}
            <li>
                {{ membre.nom }} - 
                {% if membre.bloque %}
                    Bloqué
                {% else %}
                    Actif
                {% endif %}
                <a href="{% url 'afficher_membre' membre.id %}" class="action-links">Détails</a>
                <!-- Bouton de modification -->
                <form action="{% url 'mettre_a_jour_membre' membre.id %}" method="get" style="display: inline;" style="display: inline;" class="action-links">
                    <button type="submit">Modifier</button>
                </form>

                <!-- Lien de suppression -->
                <form action="{% url 'supprimer_membre' membre.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Supprimer</button>
                </form>
                
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'bibliothecaire_menu' %}">Retour au menu </a>
</body>
</html>